* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./img/imgfundo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.menu {
  position: relative;
  width: 70%;
  min-width: 600px; 
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  background: #ff85c1;
  padding: 120px 40px 40px; 
  border: 8px solid #ff4da6;
  box-shadow: 8px 8px 0px #b30059;
  color: #b30059;
}
.logo-top {
  position: absolute;
  top: -270px; 
  left: 50%;
  transform: translate(-50%); 
  width: 350px;
}
.logo-top img {  
  width: 100%;
  height: auto;
  display: block;
}

.btn {
  display: block;
  width: 260px; 
  margin: 35px ;
  padding: 16px; 
  border: 6px solid #b30059;
  background: #ffd1e8;
  color: #b30059;
  font-size: 24px; 
  cursor: pointer;
  box-shadow: 6px 6px 0px #b30059;
}

.btn:hover {
  transform: translate(3px, 3px);
  box-shadow: 3px 3px 0px #b30059;
}

.btn:active {
  transform: translate(6px, 6px);
  box-shadow: 0px 0px 0px #b30059;
}

a{
    text-decoration: none;
}
.pixel-car {
  position: absolute;
  width: 300px;
  height: 170px;
  background-size: cover;
  background-repeat: no-repeat;
  animation: float 2s infinite steps(2);
}

.candy {
  position: absolute;
  width: 80px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  animation: float 2s infinite steps(2);
}

.c1{
  top: 75%;
  left: 10%;
  background-image: url("./img/carro.png");
}

.c2{
  top: 4%;
  right: 5%;
  background-image: url(img/carro_inimigo4.png)
}

.c5{
  top: 10%;
  left: 30%;
  background-image: url("./img/ponto1.png");
}

.c6{
  top: 75%;
  right: 20%;
  background-image: url("./img/ponto2.png");
}


.footer {
  margin-top: 25px;
  font-size: 30px;
  display: block;
  width: 300px; 
  margin: 15px ;
  padding: 10px; 
  border: 6px solid #b30059;
  background: #ffd1e8;
  color: #b30059;
  cursor: pointer;
  box-shadow: 6px 6px 0px #b30059;
}

.footer:hover {
  transform: translate(3px, 3px);
  box-shadow: 3px 3px 0px #b30059;
}

.footer:active {
  transform: translate(6px, 6px);
  box-shadow: 0px 0px 0px #b30059;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}